* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family:simplex;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

/*-- HEADER --*/

header {
    background: url('../Img/azul.png') #ffffff;
    background-repeat:repeat;
    background-position: center;
    max-height: 400px;
}

header .menu{
    
    margin: 40px 0;
    text-align: right;
   
}

.a21 {
    margin-top: 40px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
    
}

.a21:hover {
    border-bottom: 2px solid #ffffff;
}

header .contenedor-texto {
    
    margin: 90px 0;
    color: rgb(255, 255, 255);

}

.nombre {
    color: rgb(127, 187, 255);
    font-size: 50px;
    font-weight: 5000;
    margin: 0;
}
.profesion {
    font-size: 30px;
    line-height: 50px;
}

/*--    Main --*/
.main .contenedor{
    overflow: visible;
}

.main .acerca-de {
    text-align:center;
    
}

.main .acerca-de .contenedor1 .titulo_information {
    
    font-size:34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 900;
    color: rgb(1, 19, 184);
    text-align: center;
    
}

.main .acerca-de .contenedor1 p{
    color: rgb(60, 70, 153)

}

.main .acerca-de .foto {
    margin-top: -60px;
}

.main .acerca-de .foto img {
    vertical-align: top;
    border-radius: 50px solid rgba(255,255,255,0.2);
}

.main .acerca-de .contenedor1 .foto .fotoperfil {
    width: 250px;
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.2);
    
    
}

.main .acerca-de .titulo{

    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .trabajos{
    background: #f2f2f2;
    padding: 60px 0;
}
.main .trabajos .contenedor {
    overflow: hidden;
}

.main .trabajos .titulo {

    font-size:34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 900;
    color: rgb(1, 19, 184);
    text-align: center;

}

.main .trabajos .contenedor-trabajos {
   
    display: flex;
    padding-right: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo{
    width: 30%;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin-bottom: 10px;
}
.main .trabajos .contenedor-trabajos .trabajo .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
    
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 10px;
    color: #3895ea;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(119, 119, 119);
}

/* ------------------------ Footer ---------------------*/

footer .contacto {
    padding: 30px 0;
}

footer .contacto .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .tituloContacto {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 700;
    color:rgb(1, 19, 184);
    text-align: center;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea {
    
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus {

    border: 2px solid #3895ea;
}


footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"] {
    width: 49%;
    margin-bottom: 15px;

}


footer .contacto .formulario textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton {

    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;

}

footer .contacto .formulario .boton:hover {

    background: #0061fd;

}

footer .redes-sociales {
    background: #1e2b38;
    padding: 60px 0;
}

footer .contenedor {
    display: flex;
    justify-content:center;
}

footer .redes-sociales a{
    color: #fff;
    text-align: center ;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .redes-sociales .twitter:hover {
    background: #1da1f2; 
}

footer .redes-sociales .facebook:hover {
    background: #3b5998; 
}

footer .redes-sociales .github:hover {
    background: #666666; 
}

footer .redes-sociales .instagram:hover {
    
    background: linear-gradient(70deg, #f77737, #e1306c 80%, #c13584); 
}

footer .redes-sociales .linkedin:hover {
    background: #0077b5; 
}