*{
    padding:0;
    margin:0;
}
body{
    font-family:simplex;
    background: #d1d1d1;
}

.menu {
    list-style: none;
    padding: 0;
    background: #661717;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

.menu li{
    display:inline-block;
    text-align:center;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px;

    }

.menu li a:hover{
    background: #aa0101;
}

.perfil{
    position:absolute;
    top:100px;
    left:600px;
    padding: 0px;
    width: 150px;
    height: 150px;
    border: 10px solid #ffffff00;
    opacity: 1;
}

.informacion{
    list-style: none;
    position:absolute;
    top:320px;
    left: 210px;
    width: 68%;
    display: block;
    background: #661717;
    
  
}

.informacion li{
    display:inline-block;
    text-align:center;
}

.informacion li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.informacion li a:hover{
    background:#aa0101;
}

.github_logo{
    width: 300px;
   
  
}

.insta_logo{
    width: 200px;
    
}

.caja1{
    background: #661717;
    width: 200px,100px;
    height: 160px;
}

.caja2{
    padding: 250px;
}

.caja3{
    padding: 5px;
}